<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sprint-1_Sharib" parallel="tests">

  <test thread-count="5" name="US17_P1_05_ChromeTest">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testScripts.HamburgerFuncValidation"/>
    </classes>
  </test>

  <test thread-count="5" name="US17_P1_05_EdgeTest">
    <parameter name="browser" value="edge"/>
    <classes>
      <class name="testScripts.HamburgerFuncValidation"/>
    </classes>
  </test>

  <test thread-count="5" name="US17_P1_07_Credits_Chrome">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testScripts.FooterSectionCreditsValidation"/>
    </classes>
  </test>

  <test thread-count="5" name="US17_P1_07_Credits_Edge">
    <parameter name="browser" value="edge"/>
    <classes>
      <class name="testScripts.FooterSectionCreditsValidation"/>
    </classes>
  </test>

 <test thread-count="5" name="US17_P1_07_HyperLink_Chrome">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testScripts.FooterSectionHyperLinkValidation"/>
    </classes>
  </test>

  <test thread-count="5" name="US17_P1_07_HyperLink_Edge">
    <parameter name="browser" value="edge"/>
    <classes>
      <class name="testScripts.FooterSectionHyperLinkValidation"/>
    </classes>
  </test>
  
  <test thread-count="5" name="US17_P1_08_AuthorizeCustomerTitle_Chrome">
  <parameters>
  	<parameter name="browser" value="chrome"/>
  	<parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  	<classes>
  	<class name="testScripts.CustomerAuthorizeTitleUIValidation"/>
  	</classes>
  </test>
  
  <test thread-count="5" name="US17_P1_08_AuthorizeCustomerTitle_Edge">
  	<parameters>
  	<parameter name="browser" value="edge"/>
  	<parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  	<classes>
  	<class name="testScripts.CustomerAuthorizeTitleUIValidation"/>
  	</classes>
  </test>
  
  <test thread-count="5" name ="US17_P1_12_CustomerInfoTableAppearance_Edge">
  <parameters>
  <parameter name="browser" value="edge"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.CustomerInfoTableAppearance"/>
  </classes>
  </test>
  
  <test thread-count="5" name ="US17_P1_12_CustomerInfoTableAppearance_Chrome">
  <parameters>
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.CustomerInfoTableAppearance"/>
  </classes>
  </test>
  
  <test thread-count="5" name ="US17_P1_12_CustomerDataTableColumnSpellingValidation_Edge">
  <parameters>
  <parameter name="browser" value="edge"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.CustomerInfoTableColumnSpellingValidation"/>
  </classes>
  </test>
  
  <test thread-count="5" name ="US17_P1_12_CustomerDataTableColumnSpellingValidation_Chrome">
  <parameters>
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.CustomerInfoTableColumnSpellingValidation"/>
  </classes>
  </test>-->
  <test name="US17_P1_24_ScrollToTop_Chrome">
  <parameters>
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.ScrollToTopFuncValidation"/>
  <class name="testScripts.BackToTopsScrollBtnHidden"/>
  </classes>
  </test>
  <test name="US17_P1_21_CustomerRowCheckBoxValidation">
  <parameters>
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.CustomerRowCheckBoxValidation"/>
  </classes>
  </test>
 <test name="US17_P1_21_CustomerRowCheckBoxValidationAfterOperation">
  <parameters>
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://qeaskillhub.cognizant.com/LoginPage"/>
  </parameters>
  <classes>
  <class name="testScripts.CustomerRowFLow2"/>
  </classes>
  </test>

</suite>
